<div class="forgot-password-container">
    <h2>Recuperar Contraseña</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="email">Correo Electrónico:</label>
      <input id="email" formControlName="email" type="email" required>
      <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)">
        <small *ngIf="form.controls['email'].errors?.['required']">El correo electrónico es requerido.</small>
        <small *ngIf="form.controls['email'].errors?.['email']">Por favor, introduzca una dirección de correo electrónico válida.</small>
      </div>
      <button type="submit" [disabled]="form.invalid">Enviar</button>
    </form>
    @if(message){
    <div>
      <p [ngClass]="{ 'success': success, 'error': !success }">{{ message }}</p>
    </div>
  }
  </div>
  