<div class="votes-container">
  <table>
    <thead>
      <tr>
        <th (click)="sortData('voter_name')">Votante</th>
        <th (click)="sortData('candidate_name')">Voto a:</th>
        <th (click)="sortData('date')">Fecha</th>
      </tr>
    </thead>
    <tbody>
      @if (loading) {
        <tr>
          <td colspan="3">Cargando...</td>
        </tr>
      } @else {
        @for (vote of sortedVotes; track vote){
          <tr>
            <td>{{ vote.voter_name }}</td>
            <td>{{ vote.candidate_name }}</td>
            <td>{{ vote.date | date:'short' }}</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
