<div class="reset-password-container">
    <h2>Restablecer Contraseña</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="newPassword">Nueva Contraseña:</label>
      <input id="newPassword" formControlName="newPassword" type="password" required>
      @if (form.controls['newPassword'].invalid && (form.controls['newPassword'].dirty || form.controls['newPassword'].touched)){
      <div>
        @if(form.controls['newPassword'].errors?.['required']){
        <small>La nueva contraseña es requerida.</small>
      }
        @if(form.controls['newPassword'].errors?.['minlength']){
        <small>La contraseña debe tener al menos 6 caracteres.</small>
      }
      </div>
    }
      <button type="submit" [disabled]="form.invalid">Restablecer Contraseña</button>
    </form>
    @if(message){
    <div>
      <p [ngClass]="{ 'success': success, 'error': !success }">{{ message }}</p>
    </div>
  }
  </div>
  