<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Nombre </label>
        <input id="name" formControlName="name" type="text" required>

    </div>

    <div>
        <label for="last_name">Apellido </label>
        <input id="last_name" formControlName="last_name" type="text" required>
    </div>

    <div>
        <label for="document">Cedula </label>
        <input id="document" formControlName="document">
    </div>

    <div>
        <label for="dob">Fecha de nacimiento </label>
        <input id="dob" formControlName="dob" placeholder="yyyy-MM-dd">
    </div>

    <div>
        <label for="is_candidate">Es candidato </label>
        <input id="is_candidate" type="checkbox" formControlName="is_candidate">
    </div>
    <br><br>
    <button type="submit" [disabled]="form.invalid">Agregar</button>
</form>

@if (message) {
<div class= "message" [ngClass]="{'success': success, 'error': !success}">
    {{message}}
</div>
}