<div class="forgot-password-container">
    <h2>Recuperar Contraseña</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="email">Correo Electrónico:</label>
      <input id="email" formControlName="email" type="email" required>
      @if(form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)){
      <div>
  
        @if(form.controls['email'].errors?.['required']){
        <small>El correo electrónico es requerido.</small>
      }
        @if(form.controls['email'].errors?.['email']){      
        <small>Por favor, introduzca una dirección de correo electrónico válida.</small>
      }
      </div>
    }
      <button type="submit" [disabled]="form.invalid">Enviar</button>
    </form>
    @if(message){
    <div>
      <p [ngClass]="{ 'success': success, 'error': !success }">{{ message }}</p>
    </div>
  }
  </div>
  